<h1> Bem-vindo ao sistema de trocas de moedas </h1>

<%if @transactions.count > 0
  for transaction in @transactions%>
    <table>
      </br>
        <tr><td>Identificador</td> <td><%= link_to transaction.id, transaction_path(transaction)%></td> </tr>
        <tr><td>Quantidade</td> <td><%=transaction.amount%></td></tr>
        <tr><td>Moeda</td> <td><%=transaction.currency_translate%></td></tr>
        <tr><td>Tipo</td> <td><%=transaction.transaction_type_translate%></td></tr>
        <tr><td>Total</td> <%transaction.total_calc%> <td><%=transaction.total_to_s%></td></tr>
      </br>
    </table>
  <%end%>
<%else%>
  <p>Você ainda não possui transações cadastradas</p>
<%end%>
